
extends ../layout/index

block content    
    h1.view-title #{pageTitle}

    h2 leave a comment about the shop
    if(errors)
        p=errors.name
        p=errors.text

    form.form(js-id="form-testimonials", action="/testimonials", method="post")
        .form-group
            label.form-input-label(for="name") Full Name
            input.form-input-name(type="text", id="name" name="name")
        .form-group
            label(for="textarea-testimonials" calss="form-input-label") Your opinion 
            textarea.form-textarea(id="textarea-testimonials" name="text") 
        .form-group
            input.btn-form-submit(type="submit", action=null)

    if(testimonials)
        each record in testimonials
            p=record.name
            p=record.text
            p=record.createdAt
