extends ../layout/index   

block content
    div.header-default-space
    img.logo-img(src="./img/pen-man-logo.svg" width="50px" height="50px")
    h1.view-title #{pageTitle}
    h3 here you can find all articles

    form.form(js-id="form-search", action="/search", method="post")
        .form-group
            label.form-input-label(for="text") title or description
            input.form-input-name(type="text", id="text", name="text")
        .form-group
            label.form-input-label(for="body") from prize
            input.form-input-name(type="text", id="body", name="fromPrize")
        .form-group
            label.form-input-label(for="body") to prize
            input.form-input-name(type="text", id="body", name="toPrize")
        .form.group
            input.btn-form-submit(type="submit")



    
    .store-results-container
        each item in items
            .store-item-container
                img.store-item-img(src=`./img/${item.img}`)
                h4.store-item-title=item.title
                p.store-item-body=item.body
                span.store-item-special=item.special
                span &nbsp;
                span.store-item-prize=item.prize
                p.store-item-date=item.updatedAt

                // class definition
                a.btn-goto-item(href=`/itemDetails/${item.id}`) Details