extends ../layout/index   
block content
    h1.view-title #{pageTitle}
    h3 here you can find all articles


    form.form(js-id="form-add", action="/add", method="post")
    .form-group
        label.form-input-label(for="title") title or description
        input.form-input-name(type="text", id="title" name="title")
    .form-group
        label.form-input-label(for="body") from prize
        input.form-input-name(type="text", id="body" name="body")
    .form-group
        label.form-input-label(for="body") to prize
        input.form-input-name(type="text", id="body" name="body")



    .results-container
        each item in items
            .result-file
                img(src=`./img/${item.img}`)
                p=item.img
                h4=item.title
                p=item.body
                span=item.selected
                span=item.prize
                p=item.updatedAt
                p=item.id
                a.btn-goto-item(href=`/itemDetails/${item.id}`) Details