extends ../layout/index   
block content
    h1.view-title #{pageTitle}
    h3 here you can find all articles

    form.form(js-id="form-search", action="/search", method="post")
        .form-group
            label.form-input-label(for="text") title or description
            input.form-input-name(type="text", id="text", name="text")
        .form-group
            label.form-input-label(for="body") from prize
            input.form-input-name(type="text", id="body", name="fromPrize")
        .form-group
            label.form-input-label(for="body") to prize
            input.form-input-name(type="text", id="body", name="toPrize")
        .form.group
            input.btn-form-submit(type="submit")


    .results-container
        each item in items
            .result-file
                img(src=`./img/${item.img}`)
                p=item.img
                h4=item.title
                p=item.body
                span=item.selected
                span=item.prize
                p=item.updatedAt
                p=item.id
                a.btn-goto-item(href=`/itemDetails/${item.id}`) Details